<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<h1>titre</h1>
{{>nav}}
<h2>titre 2</h2>
<ul id="nav">
  <li>
    <a href="trainings.html">Page Trainings</a>
  </li>
</ul>
<p class="box-rounded">Mon texte</p>
Createat by {{author}}
</body>
</html>
