@import "compass/css3/border-radius";

#nav{
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
      }
    }
  }
}

.box-rounded{
  border-color :#000000;
  border-stuyle :solid;
  width: 250px;
  height: 50px;
  @include border-radius(10px, 10px);
}
